import os

#Database Variables
DB_USER = "username"  
DB_PWD = "password"
DB_HOST = "ip" #docker container ip address - DON'T CHANGE
DB_NAME = "name"
#Remote Server Variables
SERVER_PORT = 0000
SERVER_HOST = "host or ip"
#RPi Variables
PI_MODEL = "model"
PI_LOCATION = "location"
PORT = int(os.getenv('PORT', "8082")) #don't change